@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
  height: -webkit-fill-available;
}
body{
  font-family: 'Poppins', sans-serif;
}
.cursor{
  cursor: pointer;
}

/* Common Styles */

/* Common Styles */
#sidebar-menu {
  background-color: #002C56;
}
#sidebar-menu a {
  color: #4F6E8C;
}
#sidebar-menu a:hover {
  color: #168CF5;
}
#sidebar-menu ul .active a {
  color: #168CF5;
}
#sidebar-menu ul .active a:hover {
  color: #dee2e6;
}
#sidebar-menu p {
  font-size: 10px;
}
#mainContent p {
  font-size:15px;
  font-weight: 500;
}
a, a:hover{
  text-decoration: none;
}
.logo{
  max-height:6rem;
}
.rounded-8 {
    border-radius: 8px;
}
.form-control{
  border: 1px solid #F1F1F1;
}
/* Bootstrap Overrides */
.bg-light{
  background-color: #F1F1F1 !important;
}
.text-primary{
  color:#168CF5 !important;
}
/* table css */
.quick-access li{
  margin-left: 1.5rem;
}
.heading-lg{
  font-size:4.5rem;
  font-weight:900;
}
.table-header-font{
font-size:10px;
}
.pagination a{
font-size:12px;
}
.table-content-font{
font-size:10px;
color:#212529;
font-weight: 600;
}
.table tbody tr:hover {
background-color: #F4FBFF;
}
.table thead tr th {
background-color: #f1f1f1;
}
.font-sm{
font-size: 12px;
font-weight: 600;
}
#sidebar-menu ul .active a {
color: #168CF5;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-size: 12px;
}
.iconBorder{
  border-radius: 100%;
  color:#168CF5;
  border:1px solid #fafafa;
  background-color: #fff;
  box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px, rgb(9 30 66 / 8%) 0px 2px 4px 1px;
}
.iconBorder:hover{
  background-color: #168CF5;
  border:1px solid #168CF5;
  color:#fff;
  transition: 0.5s;
}
.primary-bg{
  background-color: #002C56;
}
.secondary-bg{
  background-color: #2d3e50;
}
.profile-name{
  font-size: 12px;
}
.font-xsm{
  font-size: 10px;
}
.font-md{
  font-size: 14px;
}
/* table css */
/* sidebar */
.side-navbar {
  width: 350px;
  height: 100%;
  margin-left: -350px;
  transition: 0.5s;
}

.my-container {
  transition: 0.4s;
}
.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}
#menu-btn {
  color: #fff;
  margin-right: -14px;
}
.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}
.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.menuDivider{
  border-right:1px solid #F1F1F1;
}
.modalClose{
  position: absolute;
  left:97%;
  top:1%;
}

/* Responsive styles */
.sidebar-width{
  width:6%;
  z-index: 999;
}
.main-content{
  width:94%;
}

@media(max-width:1200px){
.sidebar-width{
  width:8%;
}
.main-content{
  width:92%;
}
}

@media(min-width:1200px){
  .tablecolWidth{
  width:150px;
}
.tablecolWidthLg{
  width:200px;
}
.tablecolWidthsm{
  width:70px;
}
.table-responsive{
  overflow:hidden;
}
}

/* Lso Toggle css */
.address-summary::-webkit-scrollbar {
  display: none;
}
.form-height{
  height:27px;
}
.div-height{
  height: 90vh;
}
.div-width{
  width: 15vw;
}

.tree-list-class{
 list-style-type: none;
}
.caret{
  cursor:pointer;
  user-select: none;
}
.caret::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 5px;
}
.nested{
  display:none;
}
.active{
  display: block;
}
.caret-down::before {
  transform: rotate(90deg);
}
.lso-tabs .nav-link.active{
    color:white !important;
    background-color: rgb(53, 143, 18)!important;
    border-color: #DEE2E6 #DEE2E6 #fff;
}
.nav-tabs {
  border-bottom:none;
}
.address-text{
  transform:rotate(90deg);
}
.div-width{
  width: 2%;
}
.address-width{
  width:25%;
}
.project-width{
 width:25%;
}
.address-summary-width{
  min-width:43%;
}
.summary-width{
  width: 75% !important;
}
.collapsibeDiv:hover{
  color: white !important;
  background-color:#488CF5 !important;
  transition: 0.3s ease-in-out;
}
/* Lso Toggle css */

/* dashboard show more show less start */
#more{
  display: none;
}
#online-more{
  display: none;
}
#type-more{
  display: none;
}
/* dashboard show more show less end*/

.table>:not(caption)>*>* {
padding: 0.30rem 0.5rem !important;
}

.datepicker-switch, .dow, .day{
  font-size: 10px !important;
}
table.dataTable > thead .sorting::after, table.dataTable > thead .sorting_asc::after, table.dataTable > thead .sorting_desc::after, table.dataTable > thead .sorting_asc_disabled::after, table.dataTable > thead .sorting_desc_disabled::after {
  right: 0em !important;
  content: "" !important;
}
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
  right: 0em !important;
  content: "" !important;
}
.dataTables_filter, .dataTables_info, .myTable_length, .dataTables_length label {
  font-size: 12px !important;
  margin-bottom:5px;
}
.form-select-sm {
  font-size: 12px;
}
.pagination{
  padding-top:7px;
}
.tablecell-height td {
  height:35px;
}

/* overide css */
.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.form-select:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
/* overide css */

.record-summary-width{
  width:100%;
}
/* cashier-record */
.cashier-record-width{
  min-width: 25%;
}
.accordion-item {
  background-color:none !important;
  border: none;
}
.accordion-button {
  padding: 0 !important;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
}
.accordion-button::after {
  margin-left:10px !important;
}
.sticky-sidebar{
  position:sticky;
  top:70px;
}
.placeholder-font .form-control-sm {
  font-size:10px !important;
}
/* cashier-record */

#pagination{
  float:right;
  margin-top: 12px;;
}

.light-theme .current {
    background: #168CF5 !important;
    color: #FFF;
    border-color: #168CF5 !important;
}

.lightgreen{
   background-color: #60c0ad;
}
.lightred{
  background-color: #e56161;;
}
.collaspe-animation{
  animation:fadein 2s;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
